# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/

# Streamlit
.streamlit/

# Jupyter
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# API keys / secrets
.env
*.env

# IDE
.vscode/
.idea/